
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>
            
            <div id="content" class="span10">
            <!-- content starts -->
            

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#/configure">配置</a>
                    </li>
                </ul>
            </div>
            
            <div class="row-fluid sortable">    
        <div class="box span6">
          <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i> 邮件地址</h2>
            <div class="box-icon">
              <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
              <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
          </div>
          <div class="box-content">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th style="width:80px;">姓名</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>   
              <tbody>
              <tr>
                <td>
                  <div class="controls">
                    <input class="span12" type="text" ng-model="newName" placeholder="名字" required >
                  </div>
                </td>
                <td>
                  <div class="controls">
                    <input class="span12" type="email" ng-model="newAddr" placeholder="email@example.com" required>
                  </div>
                </td>
                <td style="text-align:center;">
                  <a class="btn btn-success" href="javascript:void(0);" ng-click='newAddress($event)'>
                    <i class="icon-plus icon-white"></i>  
                    添加
                  </a>
                </td>
              </tr>
              <tr ng-repeat="address in addresses" ng-init="address.editFlag=false">
                <td>
                  <span ng-model='address.name' ng-if="!address.editFlag">{{address.name}}</span>
                  <input ng-model='address.name' ng-if="address.editFlag" class="span12" type="text" value={{address.name}} required>
                </td>
                <td class="center">
                  <span ng-model='address.email' ng-if="!address.editFlag">{{address.email}}</span>
                  <input ng-model='address.email' ng-if="address.editFlag" class="span12" type="email" value={{address.email}} required>
                </td>
                <td style="text-align:center;">
                  <a class="btn btn-info btn-mini" ng-if="!address.editFlag" href="javascript:void(0);" ng-click='editAddress($event, $index)'>
                    <i class="icon-edit icon-white"></i>  
                    编辑
                  </a>
                  <a class="btn btn-danger btn-mini" ng-if="!address.editFlag" href="javascript:void(0);" ng-click='delAddress($event, $index)'>
                    <i class="icon-trash icon-white"></i> 
                    删除
                  </a>
                  <a class="btn btn-primary btn-mini" ng-if="address.editFlag" href="javascript:void(0);" ng-click='save($event, $index)'>
                    <i class="icon-ok icon-white"></i> 
                    确定
                  </a>
                  <a class="btn btn-warning btn-mini" ng-if="address.editFlag" href="javascript:void(0);" ng-click='cancel($event, $index)'>
                    <i class="icon-remove icon-white"></i> 
                    取消
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!--/span-->

      <div class="box span6">
          <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i> 邮件内容</h2>
            <div class="box-icon">
              <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
              <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
          </div>
          <div class="box-content">
            <div class="control-group span12">
              <div ng-repeat="config in configs" ng-if=$even>
                <div class="span2"></div>
                <label class="checkbox inline span5">
                  <input type="checkbox" id="inlineCheckbox1" ng-model='config.checked'>{{config.display}}
                </label>
                <label class="checkbox inline span5" ng-if="configs[$index+1]">
                  <input type="checkbox" id="inlineCheckbox2" ng-model='configs[$index+1].checked'>{{configs[$index+1].display}}
                </label>
              </div>
            </div>
            <div class="control-group span12 center">
              <a class="btn btn-primary" href="javascript:void(0);" ng-click='changeConfig()'>
                <i class="icon-ok icon-white"></i> 
                    提交
              </a>
            </div>
          </div>
        </div><!--/span-->
      
      </div><!--/row-->
                    <!-- content ends -->
            </div><!--/javascript:void(0);content.span10-->

        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn" data-dismiss="modal">Close</a>
                <a href="javascript:void(0);" class="btn btn-primary">Save changes</a>
            </div>
        </div>
